* {
    box-sizing: border-box;
    margin: 0px;
  }
  
  body {
    font-family: Arial;
    background: #f1f1f1;
    background-image: url(imgphp/e7f13490-0520-4f43-a4a3-72b298e2a558.png);
  }
  
  /*Encabezado*/
  .cabeza {
    padding: 30px;
    text-align: center;
    background: linear-gradient(180deg,#060d3b 0,#0e1e6d 100%);
    background-image: url(imgphp/Pattern_header.svg);
    background-image: url(imgphp/Pattern_header.svg),linear-gradient(180deg,#060d3b 0,#0e1e6d 100%);
  }
  
  /*Enlace del logo*/
  .enlace {
      display: inline-block;
      margin-right: 10px;
      font-size: 20px;
      line-height: inherit;
      white-space: nowrap;
  }
  
  .logo {
    height: 40px;
    display: inline-block;
    vertical-align: top;
  }
  
  
  /*Fin del encabezado*/
  
  /*Navegador*/
  .navegador {
    overflow: hidden;
    background-color: #333;
  }
  
  /*Navegador ~ enlaces*/
  .navegador a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /*Ayuda a saber que opcion elijes del navegador*/
  .navegador a:hover {
    background-color: #2a1d75;
    color: white;
  }
  /*Fin del navegador*/
  
  /*Columnas*/
  /*Columna izquierda*/
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /*Columna derecha*/
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
  }
  
  /*Agrega un efecto de "carta" para la informacion y una mejor separacion*/
  .carta {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  .com{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  /*Fin de las columnas*/
  
  /*Boton desplegable*/
  .boton {
    float: left;
    overflow: hidden;
  }
  
  .boton .btn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .btn:hover{
    background-color: #2a1d75;
    color: white;
  }
  
  .boton-contenido {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .boton-contenido a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .boton-contenido a:hover {
    background-color: #E3DAC9;
    color: black;
  }
  
  .ver {
    display: block;
  }
  /*Boton desplegable ~ Fin*/
  
  /*Estilos para las imagenes*/
  .imagen1{
    width: 1300px;
    height: 500px;
    object-fit: contain;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  
  .imagen2{
    width: 400px;
    height: 200px;
    object-fit: contain;
  }
  
  /*Pie de pagina ~ Incio*/
  .pie {
    padding: 20px;
    text-align: center;
    background: #ddd;
    background-image: url(imgphp/52645901-a-cuadros-a-cuadros-sin-fisuras-patrón-de-fondo-gris.webp);
    background-repeat: repeat;
  }
  /*Contenedores ~ Inicio*/
  .fila {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .fila1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  
  .fila2{
    padding-top: 10px;
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 0;
  }
  
  .fila3{
    padding-top: 10px;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    text-align: center;
  }
  .col1 {
    flex: 0 0 100%;
    max-width: 100%;
  
  }
  
  .col2{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 24px;
  }
  
  .col3 {
    padding: 24px;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  
  .col4{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 8px;
    color: #000;
    text-align: center;
  }
  
  .enlace1 {
      color: #007bff;
      text-decoration: none;
      background-color: transparent;
  }
  /*Contenedores ~ Fin*/

  /*Comentarios ~ Inicio*/
  .cartaChima{
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    height: 774px;
  }
  .cartaNeza{
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    height: 760px;
  }
  .cartaChalco{
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    height: 725px;
  }
ul {
    list-style-type: none;
  }
.comments-container {
  margin: 0;
	width: 400px;
}

.comments-list {
	margin-top: 30px;
	position: relative;
}

/** ====================
separacion de los cometarios 
 =======================*/
.reply-list:before, 
.reply-list li:before {

	background: #c7cacb;
	position: absolute;
	top: 25px;
	left: -55px;
}


.comments-list li {
	margin-bottom: 30px;
	display: block;
	
}


.reply-list {
	padding-left: 80px;
	clear: both;
	margin-top: 15px;
}
/**
 * Avatar tamaños de imagen en un contenedor
 ---------------------------*/
.comments-list .comment-avatar {
	width: 65px;
	height: 65px;
	position: relative;
	z-index: 99;
	float: left;
	border: 3px solid #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	overflow: hidden;
}

.comments-list .comment-avatar img {
	width: 100%;
	height: 100%;
}


/**
 * Caja del Comentario

el orden 
 ---------------------------*/
.comments-list .comment-box {
	width: 390px;
	float: right;
    
}

/** =====================
 * contenedores de comentario
 ========================*/
.comment-box .comment-head {
	background: #cedae4;
	padding: 10px 12px;
	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

/** =====================
 * contenedores de comentario
 ========================*/
.comment-box .comment-head span {
	float: left;
	color: #999;
	font-size: 13px;
	position: relative;
	top: 1px;
}

/** =====================
 * contenedores de comentario
 ========================*/
.comment-box .comment-content {
	background:  #f5f5dc;
	padding: 12px;
	font-size: 15px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.table{
  height:100%;
}
.table th {
  border: 1px solid #555;
  height: 70px;
  background-color:bisque;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
#chl{
  height: 725px;
}
#nz{
  height: 725px;
}
#c{
  height: 740px;
}
.mapaChl{
  width: 425px; 
  height: 574px;
}
.mapaNz{
  width:425px;
  height:625px;
}
.mapaC{
  width:425px; 
  height:644px;
}

  /*Pie de pagina ~ Fin*/
  
  /*Resposive Telefono ~ Incio*/
  @media (max-width: 720px){
    .imagen1{
      width: 100%;
      height: 50%;
      object-fit: contain;
      margin-top: 5%;
      margin-bottom: 4%;
    }
  }
  @media (max-width: 720px){
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
  }
  }
  @media (max-width: 720px){
    ul, .cartaChima, .cartaNeza, .cartaChalco{
      display: none;
    }
  }
  @media (max-width: 720px){
    #chl, #nz, #c{
      height: 560px;
    }
  }
  @media (max-width: 720px){
    .mapaChl, .mapaNz, .mapaC{
      height: 300px;
      width: 100%;
    }
  }
  /*Responsive Telefono ~ Fin*/